ul {
  display: flex;
  justify-content: right;
  margin-right: 400px;
  gap: 60px;
}

ul li {
  background-color: lightgreen;
  border: 2px solid black;
  width: 110px;
  text-align: center;
  height: 20px;
  list-style: none;
  text-decoration: none;
}
