.category-header {
  margin-bottom: 24px;
}

.category {
  justify-content: center;
  align-items: center;
  margin-left: 340px;
  margin-top: 50px;
  justify-items: center;
}

select {
  width: 180px;
}

button {
  margin-left: 28px;
}
